body {
  background: #1d1a39;
  font-family: "Roboto", sans-serif;
  margin: 80px auto;
  max-width: 1200px;
}

:root {
  --primary-color: #f5d7db;
  --secondary-color: #bd83b8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 86px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 48px;
  color: black;
}

h3 {
  font-size: 34px;
  font-weight: bold;
  opacity: 0.9;
  display: block;
  margin-top: 10px;
}

.coder-information {
  margin: 40px auto;
  padding: 40px 0x;
}

.job-title {
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-weight: 600;
}

.portfolio-photo {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-top: 60px;
}

.name {
  font-family: "Playfair Display", serif;
  color: var(--secondary-color);
  font-size: 28px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(243, 225, 225);
}

.yoga-container,
.yogurt-container,
.weather-container {
  margin: 95px 20px;
  padding: 10px;
}

.yoga-app,
.yogurt-app,
.weather-app {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: rgb(243, 225, 225);
  font-weight: 800;
  text-align: justify;
  margin-bottom: 10px;
}

.yogaApp-link,
.yogurtApp-link,
.weatherApp-link {
  display: block;
  color: #451952;
  background: #f8e4d8;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 15px;
  font-weight: 500;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.aboutMe {
  margin: 30px auto;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(243, 225, 225);
}

.photo-container {
  display: flex;
  width: 100%;
  margin: 50px 0px;
}

.email-link {
  color: var(--primary-color);
  font-size: 24px;
  margin: 0 auto;
}

.email-link:hover {
  text-decoration: none;
  cursor: pointer;
}

.email-icon {
  font-size: 32px;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3 {
    padding-bottom: 4px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 12px;
    padding: 2px 5px;
    text-align: center;
  }

  .yoga-container,
  .yogurt-container,
  .weather-container {
    display: block;
    text-align: center;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .yoga-app,
  .yogurt-app,
  .weather-app {
    text-align: center;
  }

  .yogaApp-link,
  .yogurtApp-link,
  .weatherApp-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
  }
}
