body {
  background: #1d1a39;
  font-family: "Roboto", sans-serif;
  margin: 70px auto;
  max-width: 1100px;
}

:root {
  --primary-color: #f5d7db;
  --secondary-color: #bd83b8;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 76px;
  font-weight: 600;
  color: var(--primary-color);
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 48px;
  color: black;
}

h3 {
  font-size: 34px;
  color: var(--secondary-color);
  font-weight: bold;
  opacity: 0.9;
  display: block;
  margin-top: 10px;
}

h4 {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: black;
  font-weight: bold;
}

.coder-information {
  margin: 90px auto;
  padding: 20px;
}

.name,
.job-title {
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
  font-weight: 700;
}

.inquiry-box {
  background: grey;
  padding: 20px 60px;
  margin: 0 auto;
  border-radius: 5px;
}

.inquiry {
  display: block;
  font-size: 16px;
  text-align: center;
  color: #113f67;
  background: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 190px;
  max-width: 200px;
  border-radius: 10px;
  font-weight: 500;
}

.inquiry:hover {
  color: var(--secondary-color);
}

.portfolio-photo {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-top: 10px;
}

.photo-container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.book {
  margin-left: 25%;
}

.photo-title {
  display: block;
  margin-top: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--primary-color);
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(243, 225, 225);
  text-align: justify;
}

ul {
  font-size: 18px;
  color: rgb(243, 225, 225);
}

.book-container,
.weather-container {
  padding: 40px 20px;
}

.book-app,
.weather-app {
  display: block;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: rgb(243, 225, 225);
  font-weight: 800;
  text-align: justify;
  margin-bottom: 10px;
}

.bookApp-link,
.weatherApp-link {
  display: block;
  color: #451952;
  background: #f8e4d8;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 15px;
  font-weight: 500;
  max-width: 200px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.socialMedia-links a {
  font-size: 28px;
  color: var(--primary-color);
  padding: 10px;
}

.socialMedia-links a:hover {
  color: var(--secondary-color);
}

.aboutMe-container {
  padding: 20px 10px;
  margin-bottom: 40px;
}

.aboutMe-photo {
  width: 500px;
}

.myProjects-link {
  background: var(--primary-color);
  border-radius: 20px;
  padding: 20px 30px;
  color: var(--secondary-color);
  font-weight: 700;
  text-decoration: none;
}

.email-link,
.social-media {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
}

.email-link:hover,
.social-media:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 576px) {
  body,
  h1,
  h2,
  h3 {
    text-align: center;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .aboutMe-photo {
    padding: 20px 5px;
  }

  .name,
  .job-title {
    text-align: center;
  }

  ul {
    font-size: 12px;
    padding: 2px 5px;
    list-style: none;
    text-align: center;
  }

  .book-container,
  .weather-container {
    display: block;
    padding: 15px 10px;
    text-align: center;
  }

  .book-app,
  .weather-app {
    font-size: 22px;
    margin-top: 0;
    text-align: center;
  }

  .bookApp-link,
  .weatherApp-link {
    display: block;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }

  .book {
    margin: 0 auto;
  }

  .inquiry-box {
    margin: 0 auto;
  }

  .inquiry {
    margin: 0 auto;
  }
}
